{% load static %}
<div class="confirm-popup-overlay" id="confirm-cancel-popup">
    <div class="confirm-popup-box">
        <img class="mdi-light-alert" src="{% static 'images/confirm_icon.png' %}" alt="Confirm Icon" />
        <div class="heading"><div class="text-wrapper">XÁC NHẬN HỦY</div></div>
        <p class="div">Bạn có thông tin chưa lưu, xác nhận hủy?</p>
        <button class="button-no" id="confirm-no-btn"><div class="text-wrapper-2">Không</div></button>
        <button class="button-yes" id="confirm-yes-btn"><div class="text-wrapper-3">Đồng ý</div></button>
    </div>
</div>
