.confirm-delete-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirm-delete-popup-box {
  position: relative;
  width: 500px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
}

.confirm-delete-popup-box .error-icon {
  position: absolute;
  top: 16px;
  left: 225px;
  width: 50px;
  height: 50px;
}

.confirm-delete-popup-box .heading {
  width: 420px;
  left: 40px;
  top: 85px;
  position: absolute;
  text-align: center;
  color: #8d6e63;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.confirm-delete-popup-box .message-line1 {
  left: 50%;
  transform: translateX(-50%);
  top: 118px;
  position: absolute;
  width: 100%;
  text-align: center;
  color: #666666;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 22.4px;
}

.confirm-delete-popup-box .message-line2 {
  left: 50%;
  transform: translateX(-50%);
  top: 141px;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 22.4px;
}

.confirm-delete-popup-box .message-line2 .highlight {
    color: #8d6e63;
    font-weight: 700;
}

.confirm-delete-popup-box .no-btn,
.confirm-delete-popup-box .yes-btn {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 190px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  transition: background-color 0.3s;
}

.confirm-delete-popup-box .no-btn {
  left: 72px;
  width: 130px;
  background: #e0e0e0;
  color: #666666;
}

.confirm-delete-popup-box .yes-btn {
  right: 61px;
  width: 146px;
  background: #174d17;
  color: white;
}

.confirm-delete-popup-box .no-btn:hover,
.confirm-delete-popup-box .yes-btn:hover {
    background-color: #0000ff;
    color: #ffffff;
}
